<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.ActiveMapper">
    <resultMap id="BaseResultMap" type="com.mall.pojo.Active">
        <constructor>
            <idArg column="active_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="active_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="active_content" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    active_id, active_name, active_content
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from active
        where active_id = #{activeId,jdbcType=INTEGER}
    </select>
    <select id="selectByactiveName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from active
        where active_Name = #{activeName,jdbcType=VARCHAR}
    </select>
    <select id="findAll" resultMap="BaseResultMap">
    SELECT * FROM  active
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from active
    where active_id = #{activeId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.mall.pojo.Active">
    insert into active (active_id, active_name, active_content
      )
    values (#{activeId,jdbcType=INTEGER}, #{activeName,jdbcType=VARCHAR}, #{activeContent,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.mall.pojo.Active">
        insert into active
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activeId != null">
                active_id,
            </if>
            <if test="activeName != null">
                active_name,
            </if>
            <if test="activeContent != null">
                active_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activeId != null">
                #{activeId,jdbcType=INTEGER},
            </if>
            <if test="activeName != null">
                #{activeName,jdbcType=VARCHAR},
            </if>
            <if test="activeContent != null">
                #{activeContent,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mall.pojo.Active">
        update active
        <set>
            <if test="activeName != null">
                active_name = #{activeName,jdbcType=VARCHAR},
            </if>
            <if test="activeContent != null">
                active_content = #{activeContent,jdbcType=VARCHAR},
            </if>
        </set>
        where active_id = #{activeId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mall.pojo.Active">
    update active
    set active_name = #{activeName,jdbcType=VARCHAR},
      active_content = #{activeContent,jdbcType=VARCHAR}
    where active_id = #{activeId,jdbcType=INTEGER}
  </update>
</mapper>