<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.FollowMapper">
    <resultMap id="BaseResultMap" type="com.mall.pojo.Follow">
        <constructor>
            <idArg column="follow_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="follow_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    follow_id, follow_name
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from follow
        where follow_id = #{followId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from follow
    where follow_id = #{followId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.mall.pojo.Follow">
    insert into follow (follow_id, follow_name)
    values (#{followId,jdbcType=INTEGER}, #{followName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.mall.pojo.Follow">
        insert into follow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="followId != null">
                follow_id,
            </if>
            <if test="followName != null">
                follow_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="followId != null">
                #{followId,jdbcType=INTEGER},
            </if>
            <if test="followName != null">
                #{followName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mall.pojo.Follow">
        update follow
        <set>
            <if test="followName != null">
                follow_name = #{followName,jdbcType=VARCHAR},
            </if>
        </set>
        where follow_id = #{followId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mall.pojo.Follow">
    update follow
    set follow_name = #{followName,jdbcType=VARCHAR}
    where follow_id = #{followId,jdbcType=INTEGER}
  </update>
</mapper>